<h1> Updates to Team Fortress 2 </h1>

<div class="article-list">
  <% @updates.each do |update| %>
    <div class="row">
      <article class="col-md-6 col-md-offset-3">
        <img class="img-responsive" src="<%= update.image %>" alt="">
        <h3><a href="/posts/<%= update.id %>"><%= update.title %></a></h3>
        <h4><%= truncate(update.text, length: 100) %></h4>
        <div class="btn-group" role="group" aria-label="...">
          <a class="btn btn-primary" href="/updates/<%= update.id %>"><i class="fa fa-search-plus"></i> Show</a>
        </div>
      </article>
    </div>
  <% end %>
</div>
